table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th { 
  background: gray; 
  color: white; 
  font-weight: bold; 
}
td { 
  padding: 6px; 
  border: 1px solid white; 
  text-align: left; 
  background: orange; 
}